#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.games h2 {
  font-size: 2.5vh;
  width: 25vh;
}
.games img {
  width: 25vh;
  height: 25vh;
  object-fit: cover;
  object-position: center;
  border-radius: 2vh;
  box-shadow: 0 0 15px #ed171e;
  margin: 2vh 2vh 0 2vh;
}

.games {
  display: flex;
  flex-wrap: wrap;
  gap: 3vh;
  align-items: end;
  margin: 5vh 0 5vh 0;
}
.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2vh;
}

.creators {
  display: flex;
  flex-wrap: wrap;
  gap: 3vh;
  align-items: end;
  margin: 5vh 0 5vh 0;
}

.creators img {
  width: 25vh;
  height: 25vh;
  object-fit: cover;
  object-position: center;
  border-radius: 2vh;
  box-shadow: 0 0 15px #ed171e;
  margin: 2vh 2vh 0 2vh;
}
